
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Dancing+Script:wght@400..700&family=Lilita+One&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tenor+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "poppins",'sans-serif';
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #4203a9, #90bafc);
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.calculator {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 40px 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.calculator h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.calculator h1 span {
    color: rgb(253, 253, 0);
}

.input-box {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.input-box input {
    flex: 1;
    min-width: 200px;
    padding: 14px 20px;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
}

.input-box button {
    padding: 15px 30px;
    background: #ffff76;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    transition: background 0.3s;
}


.input-box button:hover {
    background: #f7f755;
}

#result {
    font-size: 20px;
    margin-top: 20px;
}

#result span {
    color: #ffff76;
    font-weight: bold;
}

.input-box input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}
